{% extends 'base.html' %}


{% block title %}
login
{% endblock title %}



{% block content %}

<div class="alert alert-danger alert-dismissible fade  m-0 {% if  val %} show   {% endif %}">
    <p class="m-0 p-0 h6">{{msg}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>


<form action="" onsubmit="return validate()" method="post">
    {% csrf_token %}
    <div class="form-outline form-white mb-4 mt-2">
        <input type="text" id="email" class="form-control form-control-lg" name="username" placeholder="Email" />
    </div>

    <div class="form-outline form-white mb-4">
        <input type="password" id="password" class="form-control form-control-lg" placeholder="Password"
            name="password" />
    </div>
    <button class="btn btn-primary btn-lg px-5 w-100" type="submit">Login</button>
</form>

<p class="mb-0 mt-2 text-center">Don't have an account? <a href="{% url 'register' %}" class="fw-bold">Sign
        Up</a>
</p>



{% endblock content %}


{% block script %}
<script>
    function validate() {
        let email = document.getElementById("email")
        let password = document.getElementById("password")
        let mgs = document.getElementById('msg')
        let msg_content = document.getElementById('msg_content')


        if (email.value.trim() == "" || password.value.trim() == "") {
            msg_content.innerHTML = "Please Fill both fields!"
            msg.classList.add('show')
            return false;
        }
        else {
            return true
        }

    }
</script>


{% endblock script %}