{% extends 'base.html' %}



{% block title %}
Account
{% endblock title %}




{% block content %}

<form class="d-flex my-3">
    <input class="form-control me-2 p-2 rounded-pill" type="search" placeholder="Search" aria-label="Search"
        name="search">
    <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
</form>

<div class="d-flex justify-content-between">


    <a href="{% url 'create_task' %}" class="btn btn-primary rounded-pill">
        <i class="fas fa-marker" style="color: #f2f2f3;"></i>
        Create
    </a>

    <span class="h5 text-decoration-underline">Total Tasks : {{todo_cnt}}</span>
</div>

<hr>

{% for obj in todo  %}
<div class="my-3">

    <div class="d-flex justify-content-between border border-1 border-secondary rounded-pill">
        <p class=" ms-3  p-0 mt-3 text-capitalize">
            <a href="create_task/{{obj.id}}/" class="text-decoration-none text-dark">
                <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault"
                    {% if obj.completed %} checked {% endif %} disabled>
                {{obj.label}}


            </a>
        </p>

        <p>
            <span class="ms-auto text-secondary">{{obj.created}}</span>
            <a class="ms-auto rounded-pill px-4 text-decoration-none text-dark" href="remove_task/{{obj.id}}/">
                <i class="fas fa-trash m-0 p-0 mt-3 fs-4" style="color: #ea0d0d;"></i>
            </a>
        </p>
    </div>

</div>
{% endfor %}

<p class="text-danger text-center mt-4">Want to delete account ? <br>
    <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
</p>



{% endblock content %}